<div class="allDrinks">
  <p class="title is-2">DRINKS</p>
  {{#each drinks}}
<<<<<<< HEAD
  <div class="card">
    <div class="card-header">
      <p class="title is-3">{{this.name}}</p>
    </div>
    <div id="this">{{drinks}}</div>
    <div class="card-content">
      <div class="media">
        <div class="media-left">
=======
    <div class="card">
      <div class="card-header">
        <h1>{{this.name}}</h1>
      </div>

      <div class="card-content">
        <div class="media">
          <div class="media-left">
            <figure class="image is-48x48">
              <img src="{{this.imageURL}}" alt="Placeholder Image">
            </figure>
          </div>
        </div>
        <div class="media-content">
          <p class="title is-4">{{this.source}}</p>
>>>>>>> origin/loyola-branch
        </div>
      </div>
      <div class="media-content">
        <img class="drinkImg" src="{{this.imageURL}}" alt="Placeholder Image">

        <p class="title is-4">{{this.source}}</p>
      </div>
    </div>
    <div class="content">
      <p class="title is-5">Ingredients</p>

      <ol id="list-{{this.id}}">
        {{#each ingredients}}
        <li>{{this}}</li>
        {{/each}}
      </ol>
      <p class="title is-5">Instructions</p>

      <div>{{this.recipe}}</div>
    </div>

    <div class="card-footer">
      {{this.blurb}}
    </div>

  </div>
  {{/each }}
</div>