<div class="allfoods">
  <h1>Food</h1>
  {{#each foods}}
    <div class="card">
      <div class="card-header">
        <h1>{{this.name}}</h1>
      </div>

      <div class="card-content">
        <div class="media">
          <div class="media-left">
            <figure class="image is-48x48">
              <img src="{{this.imageURL}}" alt="Placeholder Image">
            </figure>
          </div>
        </div>
        <div class="media-content">
          <p class="title is-4">{{this.source}}</p>
        </div>
      </div>
      <div class="content">
        <ol class="ingredients" ></ol>
          <div class="hideMe{{this.id}}">{{ this.ingredients }}</div>
        <br> 
        {{this.recipe}}
      </div>

      <div class="card-footer">    
        {{this.blurb}}
      </div> 

    </div>
  {{/each }}
</div>